* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(7.28deg, #cce0ff 0%, #FFFFFF 99.69%);
    font-family: 'Hellix';
}

h1, h2 {
    font-weight: 500;
}

h1 {
    font-size: 64px;
    margin: 20px 0;
}

h2 {
    font-size: 32px;
}

p {
    line-height: 24px;
    color: #111235;
}

.header-bold {
    font-weight: 700;
}

.top-bar {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.content-section-container {
    margin: 40px 15px;
}

.text-center {
    text-align: center;
}

.content-section-container img {
    width: 100%;
}

.btn {
    text-decoration: none;
    display: block;
    width: 225px;
    padding: 15px 0;
    border-radius: 50px;
    margin: 30px auto;
}

.btn-primary {
    background: #4B5092;
    color: white;
}