* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
    font-family: 'Hellix';
}

h1, h2, h3, h5 {
    font-weight: 500;
}

h1 {
    font-size: 64px;
    margin: 20px 0;
}

h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
    line-height: 28.8px;
}

h5 {
    font-size: 18px;
    margin-bottom: 25px;
}

p {
    line-height: 24px;
    color: #111235;
}

.header-bold {
    font-weight: 700;
}

.top-bar {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.content-section-container {
    margin: 40px 15px 100px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.content-section-container img {
    width: 100%;
}

.section-two-container img {
    width: 100%;
}

.section-two-container div {
    padding: 50px 15px 40px;
    margin-bottom: 100px;
}

.light-bg {
    background-color: #F2F8FF;
}

.trainer-container {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    padding: 100px 15px 0;
    margin-bottom: 100px;
}

.trainer-container img {
    width: 100%;
    margin-bottom: -5px;
}

.benefits-container > div {
    padding: 40px 15px;
}

.benefits-container img {
    width: 100%;
}

.benefit {
    width: 345px;
    margin: 20px auto;
    padding: 40px 20px;
    border-radius: 30px;
}

.benefit h4 {
    margin-bottom: 20px;
    margin-right: 60px;
}

.benefit p {
    margin-right: 30px;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 50px;
    margin-bottom: 75px;
}

footer h3 {
    margin-bottom: 35px;
}

footer a {
    text-decoration: none;
    color:  #111235;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.footer-links a {
    margin: 15px auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

form > input {
    padding-left: 10px;
    padding-right: 35px;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

form > button {
    padding-right: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.input {
    background-color: white;
    border: none;
    height: 40px;
    font-size: 14px;
}

.input:hover {
    opacity: .8;
    transition: .3s ease all;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111235;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #111235;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #111235;
}

.social-links > a {
    margin: auto 10px;
}

.copyright {
    font-size: 14px;
    margin-top: 75px;

}

.blue-bg {
    background-color: #E4F0FF;
}

.purple-bg {
    background-color: rgba(114, 122, 239, 0.1);;
}

.btn {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 225px;
    padding: 15px 0;
    border-radius: 50px;
    margin: 30px auto;
}

.btn:hover {
    opacity: .8;
    transition: .3s ease all;
    cursor: pointer;
}

.btn-primary {
    background: #4B5092;
    color: white;
}

.btn-secondary {
    background-color: #ffffff;
    color: #436BAA;
}